@charset "UTF-8";
/* line 18, ../sass/google-mainmenu.scss */
ul {
  list-style-type: none;
  padding-left: 0;
}

/* line 23, ../sass/google-mainmenu.scss */
a {
  text-decoration: none;
  font-weight: 900;
  color: inherit;
}

/* line 29, ../sass/google-mainmenu.scss */
.ellipse, .main-item__link, .sub-ul li {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/* multiple icons */
/* multiple icons */
/* line 46, ../sass/google-mainmenu.scss */
.main-ul {
  display: inline-block;
  text-align: center;
  line-height: 2rem;
}

/* line 52, ../sass/google-mainmenu.scss */
.main-item {
  float: left;
  width: 150px;
}

/* line 57, ../sass/google-mainmenu.scss */
.main-item__link {
  position: relative;
  display: block;
  z-index: 2;
  background-color: #fff;
}
/* line 64, ../sass/google-mainmenu.scss */
.main-item__link:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  border-bottom: 0px solid #3399CC;
  transition: all .3s;
}
/* line 73, ../sass/google-mainmenu.scss */
.main-item:hover .main-item__link:after {
  border-bottom-width: 4px;
}

/* line 79, ../sass/google-mainmenu.scss */
.sub-ul {
  position: relative;
  z-index: 1;
}
/* line 83, ../sass/google-mainmenu.scss */
.sub-ul li {
  margin-top: -2rem;
  transition: margin-top .3s;
}
/* line 88, ../sass/google-mainmenu.scss */
.main-item:hover .sub-ul li {
  margin-top: 0;
}

/* line 96, ../sass/google-mainmenu.scss */
.icon-tab {
  position: relative;
  display: inline-block;
  height: 52px;
}
/* line 101, ../sass/google-mainmenu.scss */
.icon-tab, .icon-tab:after, .icon-tab:before {
  vertical-align: top;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 106, ../sass/google-mainmenu.scss */
.icon-tab > label {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 25px;
  height: 25px;
  z-index: 2;
  cursor: pointer;
  border: 1px solid black;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 121, ../sass/google-mainmenu.scss */
.icon-tab > label:hover {
  background-color: #e3e3e3;
}
/* line 129, ../sass/google-mainmenu.scss */
.icon-tab > label > div, .icon-tab > label > div:before, .icon-tab > label > div:after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 3.57143px;
  background-color: black;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 138, ../sass/google-mainmenu.scss */
.icon-tab > label > div {
  left: 5px;
  width: calc(100% - 10px);
  top: 3.57143px;
}
/* line 143, ../sass/google-mainmenu.scss */
.icon-tab > label > div:before {
  top: 7.14286px;
}
/* line 146, ../sass/google-mainmenu.scss */
.icon-tab > label > div:after {
  top: 14.28571px;
}
/* line 152, ../sass/google-mainmenu.scss */
.icon-tab input[type="checkbox"] {
  position: absolute;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 157, ../sass/google-mainmenu.scss */
.icon-tab input[type="checkbox"]:checked ~ label {
  width: 100px;
  height: 100px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
/* line 163, ../sass/google-mainmenu.scss */
.icon-tab input[type="checkbox"]:checked ~ .box {
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  z-index: 3;
  width: 100px;
  height: 100px;
}
/* line 172, ../sass/google-mainmenu.scss */
.icon-tab .box {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  border: 1px solid black;
  z-index: 1;
  overflow: hidden;
  width: 25px;
  height: 25px;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 187, ../sass/google-mainmenu.scss */
.icon-tab .box .items {
  position: relative;
  display: inline-block;
  width: 100%;
  height: calc(100% - 20px);
  overflow-y: auto;
}
/* line 194, ../sass/google-mainmenu.scss */
.icon-tab .box .items .item {
  color: rgba(39, 40, 34, 0.6);
  padding: 2px 3px 1px 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 202, ../sass/google-mainmenu.scss */
.icon-tab .box .items .item:hover {
  background-color: #e3e3e3;
}
/* line 205, ../sass/google-mainmenu.scss */
.icon-tab .box .items .item:not(:first-child) {
  border-top: 1px solid rgba(39, 40, 34, 0.6);
}
/* line 210, ../sass/google-mainmenu.scss */
.icon-tab .box label {
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 20px;
  text-align: right;
  cursor: pointer;
  padding-right: 4px;
  border-top: 1px solid black;
  line-height: 22px;
}
/* line 223, ../sass/google-mainmenu.scss */
.icon-tab .box label:hover {
  background-color: #e3e3e3;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/* multiple icons */
/* line 233, ../sass/google-mainmenu.scss */
.navicon-button {
  display: inline-block;
  position: relative;
  padding: 2.0625rem 1.5rem;
  transition: 0.25s;
  cursor: pointer;
  user-select: none;
  opacity: .8;
}
/* line 242, ../sass/google-mainmenu.scss */
.navicon-button .navicon:before, .navicon-button .navicon:after {
  transition: 0.25s;
}
/* line 246, ../sass/google-mainmenu.scss */
.navicon-button:hover {
  transition: 0.5s;
  opacity: 1;
}
/* line 250, ../sass/google-mainmenu.scss */
.navicon-button:hover .navicon:before, .navicon-button:hover .navicon:after {
  transition: 0.25s;
}
/* line 254, ../sass/google-mainmenu.scss */
.navicon-button:hover .navicon:before {
  top: .825rem;
}
/* line 255, ../sass/google-mainmenu.scss */
.navicon-button:hover .navicon:after {
  top: -.825rem;
}

/* line 259, ../sass/google-mainmenu.scss */
.navicon {
  position: relative;
  width: 2.5em;
  height: .3125rem;
  background: #E7E6DD;
  transition: 0.5s;
  border-radius: 2.5rem;
}
/* line 267, ../sass/google-mainmenu.scss */
.navicon:before, .navicon:after {
  display: block;
  content: "";
  height: .3125rem;
  width: 2.5rem;
  background: #E7E6DD;
  position: absolute;
  z-index: -1;
  transition: 0.5s 0.25s;
  border-radius: 1rem;
}
/* line 279, ../sass/google-mainmenu.scss */
.navicon:before {
  top: .625rem;
}
/* line 280, ../sass/google-mainmenu.scss */
.navicon:after {
  top: -.625rem;
}

/* line 283, ../sass/google-mainmenu.scss */
.open:not(.steps) .navicon:before,
.open:not(.steps) .navicon:after {
  top: 0 !important;
}

/* line 288, ../sass/google-mainmenu.scss */
.open .navicon:before,
.open .navicon:after {
  transition: 0.5s;
}

/* Minus */
/* line 294, ../sass/google-mainmenu.scss */
.open {
  transform: scale(0.75);
}

/* Arrows */
/* line 300, ../sass/google-mainmenu.scss */
.open.larr .navicon:before, .open.larr .navicon:after,
.open.rarr .navicon:before,
.open.rarr .navicon:after,
.open.uarr .navicon:before,
.open.uarr .navicon:after {
  width: 1.5rem;
}
/* line 304, ../sass/google-mainmenu.scss */
.open.larr .navicon:before,
.open.rarr .navicon:before,
.open.uarr .navicon:before {
  transform: rotate(35deg);
  transform-origin: left top;
}
/* line 305, ../sass/google-mainmenu.scss */
.open.larr .navicon:after,
.open.rarr .navicon:after,
.open.uarr .navicon:after {
  transform: rotate(-35deg);
  transform-origin: left bottom;
}

/* line 307, ../sass/google-mainmenu.scss */
.open.uarr {
  transform: scale(0.75) rotate(90deg);
}

/* Arrows */
/* line 311, ../sass/google-mainmenu.scss */
.open.rarr .navicon:before {
  transform: translate3d(1em, 0, 0) rotate(-35deg);
  transform-origin: right top;
}
/* line 312, ../sass/google-mainmenu.scss */
.open.rarr .navicon:after {
  transform: translate3d(1em, 0, 0) rotate(35deg);
  transform-origin: right bottom;
}

/* × and + */
/* line 318, ../sass/google-mainmenu.scss */
.open.plus .navicon,
.open.x .navicon {
  background: transparent;
}
/* line 321, ../sass/google-mainmenu.scss */
.open.plus .navicon:before,
.open.x .navicon:before {
  transform: rotate(-45deg);
}
/* line 322, ../sass/google-mainmenu.scss */
.open.plus .navicon:after,
.open.x .navicon:after {
  transform: rotate(45deg);
}

/* line 325, ../sass/google-mainmenu.scss */
.open.plus {
  transform: scale(0.75) rotate(45deg);
}

/* Base ================== */
/* line 332, ../sass/google-mainmenu.scss */
section {
  display: flex;
  height: 400px;
  max-width: 40rem;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-between;
  border-radius: .5rem .5rem 0 0;
  background: #E7E6DD;
  overflow: hidden;
  /* Smoother animations */
}
/* line 344, ../sass/google-mainmenu.scss */
section *, section *:before, section *:after {
  transform: translate3d(0, 0, 0);
}

/* line 351, ../sass/google-mainmenu.scss */
nav {
  display: flex;
  justify-content: space-between;
  height: 4.5rem;
  background: #2A2A2A;
  text-align: right;
  border-radius: .5rem .5rem 0 0;
  padding: 0 1rem;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/* multiple icons */
